/* font 1(inter) */

.inter-font-one{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font 2(raleway) */

.raleway-font-two {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.primary-btn{
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 35px;
    color: white;
    font-weight: bold;
}
.btn-width{
    width: 130px;
}
.primary-btn:hover{
    background-color: blueviolet;
}
.common-des-color{
    color: rgba(37, 36, 50, 0.5);
}
body{
    margin: 0;
    background-color: #F5F8FF;
}

/* Header style */

.header-bg{
    background-image: url("Assets/Hero-bg.png");
    width: 100%;
}
/* nav section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding: 50px 0;
}

.nav-tittle{
    color: rgba(78, 71, 255, 1);
    font-size: 35px;
}

/* Banner section */
.banner-container{
    margin: 0 250px ;
    padding: 150px;
    text-align: center;
    
}
.banner-tittle{
    font-size: 65px;
    font-weight: bold;
}
/* Main section */
main{
    width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    
}
/* action section */
.action-container{
    display: flex;
    justify-content: space-between;
}
.action-contain{
    padding: 0 60px;
}
.action-tittle{
    font-size: 45px;
    font-weight: bold;
    color: #252432;
}
.action-des{
    font-size: 24px;
}
.action-img{
    border-radius: 50px;
}

/* productive user section */
.productive-user{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 50px 140px;
    background-color: #E5E7FF;
    margin-top: 120px;
    margin-bottom: 40px;
}
.user-information{
    display: flex;
    justify-content: space-between;
   
}

.productive-user-tittle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.user-data-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-data-des{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* User Opinion section */
.user-opinion-tittle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 135px;
    margin-bottom: 135px;
}

.user-content{
    display: flex;
}
.user{  
    border-radius: 10px;
    background-color: white;
    margin: 0 25px;
    padding: 25px;
}
.user-infor{
    display: flex;
    align-items: center;
    gap: 25px;
}
.user-img{
    border-radius: 100px;
}
.user-name{
color: rgba(117, 117, 117, 1);
}
.user-date{
    color: rgba(179, 179, 179, 1);
}



